:root {
    --primary-color: #3498db;
    --secondary-color: #454545;
    --tertiary-color:  #1b4f72;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    color: var(--tertiary-color);
    font-family: Helvetica, Arial, sans-serif;
}

section{
    padding: 60px;
}

/* header style */

header{
    padding: 15px 35px 15px 0;
    background: var(--primary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: 0px 20px 15px rgba(0, 0, 0, 0.5);
    /* so box shadow shows */
    position: relative;
    z-index: 20;
}

header div {
    
    background: var(--secondary-color);

}

header h1 {
    color: var(--primary-color);
    font-size: 48px;
    font-weight: bold;
    padding: 15px 20px 15px 55px;
}

header nav {
    margin: 20px 25px 15px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    /* takes off bullet points */
    list-style: none;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    text-decoration: none;
    color: var(--secondary-color);
}

header nav ul li a {
    color: var(--tertiary-color);
    padding: 10px 15px;
    margin: 0 10px;
    font-weight: lighter;
    font-size: 25px;
    border-bottom: 3px solid var(--secondary-color);
    transition: border-radius .5s, color .12s, background-color .12s, border-bottom .12s;
}

header nav ul li a:hover {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border-radius: 10px;
    border-bottom: none;
    transition: color .25s, background-color .25s, border-bottom .25s;
    
}

/* hero style */

.hero {
    background-image: url(../images/banner.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* makes h2 text stop stretching to match the height of the img */
    align-items: center;
}

.hero div {
    padding: 20px;
    margin-right: 10px;
}

.hero div img {
    width: 200px;
    height: 200px;
    top: 30px;
    left: 120px;
    border-radius: 50%;
}

.hero h2 {
    color: var(--primary-color);
    background: var(--secondary-color);
    border-radius: 25px;
    font-size: 42px;
    padding: 15px 10px;
    margin-left: 30px;
    bottom: 25px;
    right: 120px;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.4);
}

/* About Me style */

.my-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.my-info h2 {
    font-size: 48px;
    text-align: right;
    padding: 20px;
    flex: 1 10%;

}

.my-info div {
    padding: 20px 40px; 
    border-left: 5px solid var(--tertiary-color);
    flex: 3 70%;
}

.my-info p {
    font-size: 20px;
}

/* Work style */


.work {
    display: flex;
    justify-content: center;
}

.work h2 {
    font-size: 48px;
    text-align: right;
    padding: 20px;
    /* 
    Tweak this when you add another pic to flex 
    */
    width: 15%;

}

.pics {
    padding: 20px 20px;
    display: flex;
    flex-wrap: wrap;
    border-left: 5px solid var(--tertiary-color);
    width: 85%;
}

.pics a:focus {
    color: var(--tertiary-color);
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.4);
}

/* container for normal pictures in work */
.pic {
    background-position: center;
    background-size: cover;
    border: 6px solid var(--primary-color);
    opacity: 0.85;
    position: relative;
    flex: 1 40%;
    margin: 0 20px 25px 20px;
    transition: all .25s ease-in-out;
}

/* height for normal pics in work */
.pic-height {
    height: 300px;
}

.pic:hover {
    opacity: 1;
    transition: all .25s ease-in-out;
}

/* these styles only apply to the jumbo pic at top of "work" section
all other styles inherited by .pic
*/
.jumbo {
    background-image: url(../images/runbuddy.jpg);
    height: 500px;
    width: 1156px;
    flex: 5 85%;
    
}

.pic div {
    padding: 20px;
    background: var(--primary-color);
    position: absolute;
    bottom: 25px;
}

h3 {
    font-size: 36px;
}

h4 {
    font-size: 18px;
    font-weight: lighter;
}

/* picture background images, jumbo is declared above in its own class */

.pic-img-1 {
    background-image: url(../images/pass_gen.PNG);
    background-position: top;
}

.pic-img-2 {
    background-image: url(../images/placeholder-2.jpg);
}

.pic-img-3 {
    background-image: url(../images/placeholder-3.jpg);
}

.pic-img-4 {
    background-image: url(../images/placeholder-4.jpg);
}

/* Contact Me section style */

.contact-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact-me h2 {
    font-size: 48px;
    text-align: right;
    padding: 20px;
    flex: 1 10%;
}

.contact-me ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    border-left: 5px solid var(--tertiary-color);
    flex: 3 70.7%;
    padding-left: 40px;
}

.contact-me ul li {
    color: var(--secondary-color);
    padding: 10px 15px;
    margin: 0 10px;
    font-weight: lighter;
    font-size: 25px;
    border-bottom: 5px solid var(--tertiary-color);
}

.contact-me ul li a {
    text-decoration: none;
}


/* MEDIA QUERIES */

@media screen and (max-width: 1335px) {

    header {
        justify-content: center;
        padding-right: 0;

    }

    header div h1 {
        padding: 15px 20px 15px 20px;
    }

    header nav {
        margin-right: 0;
    }

    .work {
        flex-wrap: wrap;
    }

    .work h2 {
        text-align: center;
        border-bottom: 5px solid var(--tertiary-color);
        flex: none;
        width: 30%;
    }

    .work div {
        width: 100%;
        margin-top: 20px;
        border: none;
        padding: 20px 10px;
    }

    .pic div {
        width: 60%;
    }

    .jumbo div {
        width: 20%;
    }

    .contact-me ul {
        flex: none;
        border: none;
    }

    .contact-me h2 {
        flex: none;
    }

}


@media screen and (max-width: 980px) {

    section {
        padding: 40px;
    }

    /* header */

    header {
        padding-bottom: 0;
        
    }

    header div {
        text-align: center;
        border-radius: 15px;
    }

    header nav ul li a {
        border-bottom: none;
        font-size: 30px;
    }

    /* about me */

    .my-info h2, .my-info div {
        flex: none;
        text-align: center;
    }

    .my-info h2 {
        border-bottom: 5px solid var(--tertiary-color);
        width: 40%;
    }

    .my-info div {
        border: none;
        margin-top: 20px;
        width: 100%;
    }

    /* work */

    
    /* the labels on pictures*/
    .pic div {
        width: 85%;
    }

    /* the label on jumbo picture */
    .jumbo div {
        width: 30%;
    }


    /* contact me */

    .contact-me h2 {

        width: 40%;
        border-bottom: 5px solid var(--tertiary-color);
        text-align: center;
    }

    .contact-me ul {
        padding: 0;
        width: 100%;
        margin-top: 20px;
        justify-content: center;
        
    }

    .contact-me ul li {
        width: 80%;
        text-align: center;
        margin: 20px 5px;
    }

}


@media screen and (max-width: 768px) {

    header nav {
        margin: 20px auto;
    }

    header nav ul {
        justify-content: center;
    }

    header nav ul li {
        margin-bottom: 15px;
    }

    .hero div {
        margin: 0;
    }

    .hero h2 {
        margin: 0;
    }

    h3 {
        font-size: 32px;
    }
    
    h4 {
        font-size: 16px;
        font-weight: lighter;
    } 

    .work h2 {
        width: 40%;
    }

    .pic {
        margin: 0 10px 25px 10px;
    }

    .pic div {
        width: 100%;
    }

    .jumbo div {
        width: 45%;
    }

    .contact-me h2 {
        width: 60%;
    }



}

/* phone's screen */
@media screen and (max-width: 575px) {

    section {
        padding: 15px;
    }

    header{
        padding: 20px;
        justify-content: center;
    }



    header nav ul li {
        width: 100%;
        text-align: center;
        font-size: 36px;
        margin-top: 10px;
    }

    .hero div {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .hero h2 {
        margin-bottom: 20px;
    }

    .hero h2 {
        font-size: 36px;
    }

    .my-info h2 {
        width: 80%;
    }

    .my-info div {
        padding: 20px 30px;
    }

    /* changes text align of about me paragraphs */
    .my-info div p {
        text-align: left;
    }

    .work h2 {
        width: 60%;
    }

    .pics {
        justify-content: center;
    }

    .pic {
        margin: 0 10px 25px 10px;
        /* take these both out to have 2 pics per line */
        width: 100%;
        flex: none;
    }

    .pic div {
        width: 70%;
    }

    .jumbo div {
        width: 70%;
    }

    .contact-me h2 {
        width: 80%;
    }

    .contact-me ul li {
        width: 70%;
    }

    /* targets the second child (email) in "contact-me" ul */
    .contact-me ul li:nth-child(2) {
        /* allows word to break if container is too small */
        overflow-wrap: break-word;
    }

}