:root {
    --primary-color: #3498db;
    --secondary-color: #454545;
    --tertiary-color:  #1b4f72;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--tertiary-color);
    font-family: Helvetica, Arial, sans-serif;
}

/* header style */

header{
    padding: 15px 35px 15px 0;
    background: var(--primary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: 0px 20px 15px rgba(0, 0, 0, 0.5);
    /* so box shadow shows */
    position: relative;
    z-index: 20;
}

header div {
    
    background: var(--secondary-color);

}

header h1 {
    color: var(--primary-color);
    font-size: 48px;
    font-weight: bold;
    padding: 15px 20px 15px 55px;
}

header nav {
    margin: 20px 25px 15px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    /* takes off bullet points */
    list-style: none;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    text-decoration: none;
    color: var(--secondary-color);
}

header nav ul li a {
    color: var(--secondary-color);
    padding: 10px 15px;
    margin: 0 10px;
    font-weight: lighter;
    font-size: 25px;
    border-bottom: 5px solid var(--secondary-color);
}

header nav ul li a:hover {
    color: var(--primary-color);
    background: var(--secondary-color);
    border-radius: 10px;
    border-bottom: none;
}

/* hero style */

.hero {
    background-image: url(../images/banner.jpg);
    height: 250px;
    background-position: center;
    background-size: cover;
    position: relative;
}

.hero h2 {
    color: var(--primary-color);
    background: var(--secondary-color);
    border-radius: 25px;
    font-size: 42px;
    position: absolute;
    padding: 15px 10px;
    bottom: 25px;
    right: 120px;
}
